<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
    type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <dataConfiguration defaultDatabase="DefaultConnection"/>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-WS;Initial Catalog=Mes;User ID=ychost;Password=yang19931001" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-WS;Initial Catalog=Mes;User ID=ychost;Password=yang19931001;"  />
    <add key="DAL" value="MesWeb.SQLServerDAL" />

  </appSettings>

</configuration>